{% extends 'base.html' %}

{% block header %}
<head>
    <title>Brisbane Live - My Events</title>    
</head>
{% endblock %}

{% block content %}

<main>
    <div class="page-content">
        <div class="container no gutters-xs-only py-4 mb-4 bg-body-white">
            <div class="py-4">
                <h1>My Events</h1>
                <p>Check and manage the status of your events.</p>
            </div>
            <div class="table-responsive d-none d-lg-block">

                {% if events|length <= 0 %}

                <div class="py-4 text-center">
                    <p>Couldn't find any events. Try creating an event today! <a href="{{url_for('createEvent.createEvent')}}"> here</a></p>
                </div>
    
                {% else %}
                

           <div class="col list-col">
            {% for event in events %}
                   <div class="row g-0 pb-3">
                       <div class="col-md-4">
                           <img src="{{event.image}}" class="event-card-img img-thumbnail" alt="event image">
                       </div>
                       <div class="col-md-8 mb-4">
                           <div class="event-card-body">
                               <h3 class="event-card-title">{{event.name}}</h3>

                               <!-- TODO add if statement for open events -->
                               <p class="event-card-text">${{event.ticket_price}} 

                                {% if event.status == 'Open' %}
                                <span class="badge bg-success">{{event.status}}</span> 

                                {% else %}
                                <span class="badge bg-danger">{{event.status}}</span>
                                {% endif %}
                                </p>

                               <br>
                               <small>{{event.start_date.strftime("%d/%m/%Y")}}</small>
                               <p>{{event.start_time.strftime("%I:%M %p")}} - {{event.end_time.strftime("%I:%M %p")}}</p>
                               <p class="event-card-text">{{event.venue_name}} </p>
                               <p class="event-card-text">{{event.street_address}} </p>
                               <p class="event-card-text">{{event.genre}}</p>

                               <br>
            

                                <a class="btn btn-primary" href="{{url_for('createEvent.updateEvent', id=event.id)}}"> Edit Event</a>

                           </div>
                       </div>
                   </div>
                   {% endfor %}
           </div>

           {% endif %}
           
        </div>
</main>

{% endblock %}