{% extends 'base.html' %}


{% import "bootstrap5/form.html" as wtf %}



{% block header %}
<head>
    <title>Brisbane Live - Summary </title>    
</head>
{% endblock %}

{% block content %}

<main>
    <div class="container bg-body-white">
        <img src="{{event.image}}" class="img-fluid" alt="event image">
    </div>
    <div class="page-content">
        <div class="container no gutters-xs-only py-4 mb-4 bg-body-white">
            <div class="heading-section">
                <div class="row align-items-center event-headline">
                    <div class="col-md-9">
                        <h2 class="event-title">{{event.name}}</h2>
                        
                    </div>
                    <div class="col-md-3">
                        <div class="col-12 status-info">

                            {% if event.status != 'Open' %}
                            <h2 class="text-start"> <span class="badge bg-danger">{{event.status}}</span></h2>

                            {% else %}
                            <h2 class="text-start"><span class="badge bg-success">{{event.status}}</span></h2>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row justify-content-end sticky-lg-top sticky-bottom order-lg-1 order-2 w-100 p-0 m-0">
                    <div class="col-lg-4 p-0">
                        <div class="checkout-model border checkout rounded">
                            <div class="checkout-model-body">
                                <div class="text-center">
                                    <h3 id="ticket-price-custom">${{event.ticket_price}}</h3>
                                </div>
                            </div>
                            <div class="checkout-model-button text-center">

                                {% if event.status != 'Open' %}
                                <a href="{{ url_for('createEvent.show_modal', id=event.id) }}" class="btn btn-primary buy-btn w-100 btn-square disabled">BUY TICKETS</a>
                                {% else %}

                                <a href="{{ url_for('createEvent.show_modal', id=event.id) }}" class="btn btn-primary buy-btn w-100 btn-square">BUY TICKETS</a>
                                {% endif %}




                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row align-items-center">

                        
                        <h4>{{event.artist_names}}</h4>
                        

                    </div>
                </div>

                <div class="modal fade p-0" id="modal-toggle-buy-ticket" aria-hidden="true"
                    aria-labelledby="modal-toggle-buy-ticket-label" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down modal-xl">
                        <div class="modal-content">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="main-model-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title" id="modal-toggle-buy-ticket-label">{{event.name}}
                                            </h3>

                                            <button type="button"
                                                class="btn-close position-absolute top-0 end-0 m-3"
                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="modal-label-custom">Date and time:</p>
                                            <p>{{event.event_date}}</p>
                                            <p class="modal-label-custom">Location:</p>
                                            <p>{{event.location}}</p>

                                            <div class="col-lg-8">
                                                <div class="container align-items-stretch">
                                                    <div class="row border p-1">
                                                        <div
                                                            class="col-sm-6 col-4 col-xxs d-flex flex-column justify-content-center">
                                                            <p class="p-2 mb-0">Adult</p>
                                                        </div>
                                                    </div>
                                                    <div class="row border p-1">
                                                        <div class="col-md-12">
                                                            <p class="p-2 mb-0">Ticket Cost - ${{event.ticket_price}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button class="btn btn-primary" data-bs-target="#modal-toggle-checkout"
                                                data-bs-toggle="modal">Continue to Checkout
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 order-md-last d-none d-md-block">
                                    <div class="side-model-content">
                                        <div class="d-none d-md-block">
                                            <img src="{{event.image}}" class="event-card-img"
                                                alt="event image">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade p-0" id="modal-toggle-checkout" aria-hidden="true"
                    aria-labelledby="modal-toggle-checkout-label" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="modal-toggle-checkout-label">Checkout</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>


                            <div class="modal-body">
                                
                                <div class="row">
                                    <h5>Your order has been placed successfully!</h5>
                                    <hr>
                                    <div class="col-3">
                                        <p class="text-muted">Order ID</p>
                                        {{order.order_id}}
                                    </div>
                                    <div class="col-3">
                                        <p class="text-muted">Event</p>
                                        {{event.name}}
                                    </div>
                                    <div class="col-3">
                                        <p class="text-muted">Tickets</p>
                                        {{order.num_tickets}}
                                    </div>
                                    <div class="col-3">
                                        <p class="text-muted">Total</p>
                                        {{order.total_cost}}
                                    </div>
                                </div>
                                
                            </div>


                            <div class="modal-footer">

                                <a href="{{ url_for('myAccount.orderHistory')}}" class="btn btn-primary">Order History</a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="event-details order-lg-2 order-1">
                    <div class="row">
                        <h1 class="pt-4">Event Details</h1>
                        <hr>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <h3 class="pt-2">Date</h3>
                            <p>{{event.start_date.strftime("%d/%m/%Y")}} - {{event.end_date.strftime("%d/%m/%Y")}}</p>
                        </div>

                        <div class="col-6">
                            <h3 class="pt-2">Time</h3>
                            <p>{{event.start_time.strftime("%I:%M %p")}} - {{event.end_time.strftime("%I:%M %p")}}</p>
                        </div>
                    </div>


                        <div class="row align-items-center">
                            <h3 class="pt-4">Location</h3>
                            <hr>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-12 col-lg-3">
                                <p>{{event.venue_name}}</p>
                            </div>
                            <div class="col-12 col-lg-5">
                                <p>{{event.street_address}}</p>
                            </div>
                        </div>

                        <div class="row align-items-center">
                            <h3 class="pt-4">Description</h3>
                            <hr>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-12 col-lg-8">
                                <p>{{event.description}}
                                </p>
                            </div>
                        </div>

                        <div class="row align-items-center">
                            <h3 class="pt-4">Genre</h3>
                            <hr>
                        </div>
                        <div class="d-flex p-2">
                            <span class="badge rounded-pill" id="badge-custom">{{event.genre}}</span>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
</main>
{% endblock %}

{% block scripts %}

    {% if open_modal==True %}
        <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function () {
        var modal = new bootstrap.Modal(document.querySelector('#modal-toggle-checkout'));
        modal.show();
    });

        </script>

        {% endif %}

{% endblock %}