{% extends "base_without_header.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block header %}
  <title>Brisbane Live - {{heading}} </title>
{% endblock %}

{% block content %}

<div class="container-fluid m-0 p-0">
  <div class="row g-0">
    
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">{{ heading }}</h3>

              {{ wtf.render_form(form) }}

              <!-- When you have a login form, show a link to register -->
              {% if heading|lower == 'login' %}
              <div class="row mt-3">
                  <div class="col-md-6">
                     <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
                  </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-md-flex col-md-4 col-lg-6 login-bg-image"></div>
  </div>
</div>

{% endblock %}
