{% extends 'base.html' %}

{% import "bootstrap4/form.html" as wtf %}

{% block header %}
<head>
    <title>Brisbane Live - Create Event</title>    
</head>
{% endblock %}

{% block content %}

<main>
    <div class="container container no gutters-xs-only py-4 mb-4 bg-body-white">
                <h3>Basic Info</h3>
                <p>Let people know about you. Tell us about the event</p>
                
                {{wtf.render_form(form)}}
            </div>
                </main>

        
{% endblock %}
