{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block content %}

<div class="container">
    <h1 class="text-center error-h1">Uh oh!</h1>
    {% if error==404 %}
    <h2 class="text-center error-h2">404 Error: Page not found</h2>
    <p class="text-center">Make sure you have typed the URL in correctly. Otherwise the page you were looking for may have been moved or deleted.</p>
    <p class="text-center">You can read more about a 404 error <a href="https://en.wikipedia.org/wiki/HTTP_404">here</a></p>
    {% elif error==500 %}
    <h2 class="text-center">500 Error: An internal server error occured</h2>
    <p class="text-center">Try refreshing the page or try again later.</p>
    <p class="text-center">If the problem persists please report your problem to our team and we will try and help you.</p> 
    <p class="text-center">You can read more about a 500 error <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#5xx_server_errors">here</a></p>
    {% else %}
    <p class="text-center">An error occured. Please try again later.</p>
    {% endif %}

    <div class="image-container text-center">
        <img src="../static/image/error_img.jpg" alt="Error warning image">
    </div>
</div>


{% endblock %}