{% extends 'base.html' %}


{% import "bootstrap5/form.html" as wtf %}



{% block header %}
<head>
    <title>Brisbane Live {{event.title}}</title>    
</head>
{% endblock %}

{% block content %}

<main>
    <div class="container bg-body-white">
        <img src="{{event.image}}" class="img-fluid" alt="event image">
    </div>
    <div class="page-content">
        <div class="container no gutters-xs-only py-4 mb-4 bg-body-white">
            <div class="heading-section">
                <div class="row align-items-center event-headline">
                    <div class="col-md-9">
                        <h2 class="event-title">{{event.name}}</h2>
                    </div>
                    <div class="col-md-3">
                        <div class="col-12 status-info">

                            {% if event.status != 'Open' %}
                            <h2 class="text-start">Status: <span class="badge bg-danger">{{event.status}}</span></h2>

                            {% else %}
                            <h2 class="text-start">Status: <span class="badge bg-success">{{event.status}}</span></h2>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row justify-content-end sticky-lg-top sticky-bottom order-lg-1 order-2 w-100 p-0 m-0">
                    <div class="col-lg-4 p-0">
                        <div class="checkout-model border checkout rounded">
                            <div class="checkout-model-body">
                                <div class="text-center">
                                    <h3 id="ticket-price-custom">{{event.ticket_price}}</h3>
                                </div>
                            </div>
                            <div class="checkout-model-button text-center">

                                {% if event.status != 'Open' %}
                                <button class="btn btn-primary buy-btn w-100 btn-square disabled"
                                    data-bs-target="#modal-toggle-buy-ticket" data-bs-toggle="modal">BUY
                                    TICKETS</button>
                                
                                {% else %}

                                <button class="btn btn-primary buy-btn w-100 btn-square"
                                    data-bs-target="#modal-toggle-buy-ticket" data-bs-toggle="modal">BUY
                                    TICKETS</button>

                                {% endif %}




                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row align-items-center">

                        {% for field in event.artist_names %}
                        <h4>{{field.name}}</h4>
                        {% endfor %}

                    </div>
                </div>
                
                <div class="modal fade p-0" id="modal-toggle-buy-ticket" aria-hidden="true"
                    aria-labelledby="modal-toggle-buy-ticket-label" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down modal-xl">
                        <div class="modal-content">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="main-model-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title" id="modal-toggle-buy-ticket-label">{{event.name}}
                                            </h3>

                                            <button type="button"
                                                class="btn-close position-absolute top-0 end-0 m-3"
                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="modal-label-custom">Date and time:</p>
                                            <p>{{event.event_date}}</p>
                                            <p class="modal-label-custom">Location:</p>
                                            <p>{{event.location}}</p>

                                            <div class="col-lg-8">
                                                <div class="container align-items-stretch">
                                                    <div class="row border p-1">
                                                        <div
                                                            class="col-sm-6 col-4 col-xxs d-flex flex-column justify-content-center">
                                                            <p class="p-2 mb-0">Adult</p>
                                                        </div>
                                                    </div>
                                                    <div class="row border p-1">
                                                        <div class="col-md-12">
                                                            <p class="p-2 mb-0">Ticket Cost - ${{event.ticket_price}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button class="btn btn-primary" data-bs-target="#modal-toggle-checkout"
                                                data-bs-toggle="modal">Continue to Checkout
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 order-md-last d-none d-md-block">
                                    <div class="side-model-content">
                                        <div class="d-none d-md-block">
                                            <img src="{{event.image}}" class="event-card-img"
                                                alt="event image">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade p-0" id="modal-toggle-checkout" aria-hidden="true"
                    aria-labelledby="modal-toggle-checkout-label" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="modal-toggle-checkout-label">Checkout</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>

                            <form method="post" form="form">
                            <div class="modal-body">
                                
                                <!-- Working Ticket Remaining -->
                                {% if remaining < 10 %}
                                <p class="text-danger">Tickets are almost sold out!</p>

                                {% endif %}

                                {% if current_user.is_authenticated %}
                                    {% for field in form %}
                                    
                                    {{wtf.render_field(field, class="bg-danger")}}

                                    {% endfor %}

                                    {% else %} 
                                        <p>You must be logged in to buy a ticket <a href="{{url_for('auth.login')}}"> Login Here</a></p>
                                {% endif %}

                                
                            </div>
                        </form>

                            <div class="modal-footer">
                                <button class="btn btn-primary" data-bs-target="#modal-toggle-buy-ticket"
                                    data-bs-toggle="modal">Back</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="event-details order-lg-2 order-1">
                    <div class="row">
                        <h1 class="pt-4">Event Details</h1>
                    </div>

                    <div class="row">
                        <h3 class="pt-4">{{event.event_date}}</h3>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Starts - {{event.start_time}}</p>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col">
                            <p>Ends - {{event.end_time}}</p>
                        </div>
                        <div class="row align-items-center">
                            <h3 class="pt-4">Location</h3>
                            <hr>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-12 col-lg-3">
                                <p>{{event.location}}</p>
                            </div>
                            <div class="col-12 col-lg-5">
                                <p>{{event.location}}</p>
                            </div>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <div class="accordion border-0" id="mapAccordion">
                                    <div class="accordion-item border-0">
                                        <h4 class="accordion-header border-0">
                                            <button
                                                class="accordion-button collapsed text-primary text-decoration-underline"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#mapCollapse" aria-expanded="false"
                                                aria-controls="mapCollapse" id="show-map">
                                                Show Map
                                            </button>
                                        </h4>
                                        <div id="mapCollapse" class="accordion-collapse collapse"
                                            aria-labelledby="mapHeading" data-bs-parent="#mapAccordion">
                                            <div class="accordion-body p-0">
                                                <img src="./IMG/event-1-map.jpg" alt="Map showing event location"
                                                    class="w-100">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <h3 class="pt-4">{{Description}}</h3>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-12 col-lg-8">
                                <p>{{event.description}}
                                </p>
                            </div>
                        </div>

                        <div class="row align-items-center">
                            <h3 class="pt-4">Genre</h3>
                        </div>
                        <div class="d-flex p-2">
                            <span class="badge rounded-pill" id="badge-custom">{{event.genre}}</span>
                        </div>

                        <div class="row border-bottom"> 
                            {{wtf.render_form(cform,"/event/{0}/comment".format(event.id))}} 
                            {% for comment in event.comments %}
                            <div class="col-md-12">  
                              <b>{{comment.user.name}} <span class="ml-2 text-muted">{{comment.date_posted.strftime("%m/%d/%Y, %H:%M:%S")}}</span></b>
                              <p>{{comment.text}}</p>  
                            </div> 
                            {% endfor %} 
                        </div>  

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
</main>
{% endblock %}

{% block scripts %}
    {% if open_modal==True %}
    <script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function () {
    var modal = new bootstrap.Modal(document.querySelector('#modal-toggle-checkout'));
    modal.show();
  });

    </script>
    {% endif %}
{% endblock %}