{% extends 'base.html' %}

{% block header %}
<div class="banner">
   <source media="(max-width: 660px)" srcset="{{ url_for('static', filename='image/banner-640.jpg') }}">
   <source media="(max-width: 1608px)" srcset="{{ url_for('static', filename='image/banner-1280.jpg') }}">
   <img src="{{ url_for('static', filename='image/banner-1920.jpg') }}" alt="banner image of live concert">

</div>

{% endblock %}

{% block content %}

<div class="page-content">
   <div class="container py-4 mb-4 bg-body-white">
       <div class="container-fluid">
        <h2>Upcoming Events</h2>
        <hr>
        <h6 class="mt-3">Search Events:</h6>
        <form class="d-flex flex-nowrap mt-3" action="{{url_for('main.search')}}" >
            <input type="text" name="search" class="form-control flex-grow-1 my-1 mr-sm-2"   id="SearchForm">
            <button type="submit" class="flex-shrink-1 btn btn-primary my-1">Search</button>
          </form>

           <div class="row row-cols-auto justify-content-md-end justify-content-center align-items-center"
               id="upcoming-event-filter">

               <div class="col-auto mt-1">
                   <h6 class="title">Filter By:</h6>
               </div>
               <div class="col-auto mt-3">
                   <div class="select-box">
                       <form action="{{url_for('main.searchGenre')}}">
                           <label>
                               <select class="pr-5 col-12 text-center" id="genre-select" name="search">
                                   <option selected>Select Genre</option>
                                   <option value="All">All</option>
                                   <option value="pop">Pop</option>
                                   <option value="dance / EDM">Dance / EDM</option>
                                   <option value="hip-hop and rap">Hip-hop and Rap</option>
                                   <option value="r&b">R&B</option>
                                   <option value="latin">Latin</option>
                                   <option value="rock">Rock</option>
                                   <option value="metal">Metal</option>
                                   <option value="country">Country</option>
                                   <option value="folk / acoustic">Folk / Acoustic</option>
                                   <option value="classical">Classical</option>
                                   <option value="jazz">Jazz</option>
                                   <option value="blues">Blues</option>
                                   <option value="easy listening">Easy Listening</option>
                                   <option value="new age">New Age</option>
                                   <option value="world">World</option>
                               </select>
                           </label>
                           <input class="btn btn-primary mb-2" type="submit" value="Search"> 
                       </form>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>

<div class="container" id="event-background">
   <div class="container mb-5" id="event-background">
       <div class="row row-cols-1 g-4">

         <!-- Add Forloop of Event Database Items Here -->
            {% for event in events %}
               <div class="event-card">
                
                   <div class="row g-0">
                       <div class="col-md-4">
                           <img src="{{event.image}}" class="event-card-img" alt="event image">
                       </div>
                       <div class="col-md-8">
                           <div class="event-card-body">
                               <h3 class=" event-card-title">{{event.name}}</h3>

                                {% if event.status == 'Open' %}
                               <p class="event-card-text">${{event.ticket_price}} <span class="badge bg-success">{{event.status}}</span> </p>
                                

                               {% else %}
                               <p class="event-card-text">${{event.ticket_price}} <span class="badge bg-danger">{{event.status}}</span> </p>
                               {% endif %}

                               <br>
                               <small>{{event.start_date.strftime("%d/%m/%Y")}} - {{event.end_date.strftime("%d/%m/%Y")}}</small>
                               <p>{{event.start_time.strftime("%I:%M %p")}} - {{event.end_time.strftime("%I:%M %p")}}</p>
                               <p class="event-card-text">{{event.venue_name}} </p>
                               <p class="event-card-text">{{event.street_address}} </p>

                               <p class="event-card-text">{{event.genre}}</p>

                               <div class="d-grid gap-2 d-flex justify-content-end flex-wrap"
                                   id="event-card-btn">

                                    {% if event.status == 'Sold Out' %}

                                   <a href="/event/{{event.id}}"
                                       class="btn btn-primary btn-md flex-shrink-1 disabled">GET TICKETS</a>


                                    {% else %}

                                   <a href="/event/{{event.id}}"
                                       class="btn btn-primary btn-md flex-shrink-1">GET TICKETS</a>

                                    {% endif %}



                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           {% endfor %}
       </div>
   </div>
</div>
{% endblock %}