
{% extends 'base.html' %}

{% block header %}
<head>
    <title>Brisbane Live - Order History</title>    
</head>
{% endblock %}

{% block content %}

<main>
    <div class="page-content">
        <div class="container no gutters-xs-only py-4 mb-4 bg-body-white">
            <div class="py-4">
                <h1>Order History</h1>
                <p>Check the status of recent orders, manage returns and discover similiar experiences.</p>
            </div>
            <div class="table-responsive d-none d-lg-block">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Event</th>
                            <th class="text-center">Order Placed</th>
                            <th class="text-center">Total Amount</th>
                            <th class="text-center">Order Number</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr class="tr-custom">
                            <td class="w-50">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-sm-4 col-6">
                                        <img src="{{url_for('static', filename='image/event-2-image.jpg')}}" class="img-fluid" alt="event image">
                                    </div>
                                    <div class="col-md-6 col-sm-8 col-6">
                                        <h5>Event Name: event id = {{order.event_id}}</h5>
                                        <p id="table-text">{{order.ordered_at.strftime("%d/%m/%Y")}}</p>
                                        <p id="table-text">Event Location Here</p>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle w-10 text-center">20/04/2023 1:53 PM </td>
                            <td class="align-middle w-10 text-center">{{order.total_amount}}</td>
                            <td class="align-middle w-10 text-center">{{order.order_id}}</td>
                            <td class="align-middle w-10 text-center">
                                <a href="event-details.html" class="btn btn-primary btn-sm">View Details</a>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>

        </div>
</main>

{% endblock %}
