
{% extends 'base.html' %}

{% block header %}
<head>
    <title>Brisbane Live - Order History</title>    
</head>
{% endblock %}

{% block content %}

<main>
    <div class="page-content">
        <div class="container no gutters-xs-only py-4 mb-4 bg-body-white">
            <div class="py-4">
                <h1>Order History</h1>
                <p>Check the status of recent orders, manage returns and discover similiar experiences.</p>
            </div>


            {% if result|length == 0 %}

            <h5>No orders have been placed</h5>

            {% else %}
            
        
            <!-- DEBUGGING -->
            <p>DEBUGGING</p>
            <span>number of orders should be </span>{{result|length}}

            <div class="table-responsive d-none d-lg-block">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Event</th>
                            <th class="text-center">Order Placed</th>
                            <th class="text-center">Total Amount</th>
                            <th class="text-center">Order Number</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event, order in result %}
                        <tr class="tr-custom">
                            <td class="w-50">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-sm-4 col-6">
                                        <img src="{{event.image}}" class="img-fluid" alt="event image">
                                    </div>
                                    <div class="col-md-6 col-sm-8 col-6">
                                        <h5>{{event.name}}</h5>
                                        <p id="table-text">{{event.event_date.strftime("%d/%m/%Y")}}</p>
                                        <p id="table-text">{{event.location}}</p>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle w-10 text-center">{{order.ordered_at.strftime("%d/%m/%Y")}} </td>
                            <td class="align-middle w-10 text-center">Tickets: {{order.num_tickets}} Total Cost:{{order.total_cost}}</td>
                            <td class="align-middle w-10 text-center">{{order.order_id}}</td>
                            <td class="align-middle w-10 text-center">
                                <a href="/{{event.id}}" class="btn btn-primary btn-sm">View Event</a>
                            </td>
                        </tr>
                    </tbody>
                        
                        {% endfor %}
                </table>
            </div>
            {% endif %}

        </div>
</main>

{% endblock %}
